/* FONTS */
/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES CSS */


body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-color: darkgray;
    border: 20px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* outline: 2px solid lime; */
}

.pagewrap > * {
    /* green outline */
    outline: 2px solid lime;
}

.mainnav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.mainnav > * {
    /* red outline */
    border: 5px dotted red;
}

.logo {
    border-radius:50%;
    max-width: 120px;
}

.menu {
    margin-left:20px;
    font-family: "Roboto", sans-serif;
}

h1 { 
    text-align: center;
}

li, a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.logo {
    cursor:pointer;
    margin-right: auto;
    text-align: left;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: lightgray;
}