* {
    margin: 0;
    padding: 0;
    /* min-width: 0;
    min-height: 0; */
    box-sizing: border-box;
}

/* FONTS */
/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::before, ::after {
    box-sizing: inherit;
}

:root {
    --border-w: 15px;
    --margin-w: 20px;
}

body {
    height: 100%;
    margin: 0;
    background-color: lightgray;
    overflow-y: auto;
}

body:before {
    content: "";
    height: 100vh;
    width: 100%;
    border: var(--border-w) solid gray;
    position: fixed;
    top: 0;
    pointer-events: none;
}

.content {
    padding: var(--border-w);
    margin: var(--margin-w);
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: sticky;
    top: calc(var(--border-w) + var(--margin-w));
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

#break {
    border-bottom: 1px solid black;
    width: 80%;
    margin: var(--margin-w) auto;
}

#logo {
    border-radius:50%;
    max-width: 80px;
    display: block;
}

li, a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.navbar li {
    display: inline-block;
    padding: 0px;
    margin-left: 10px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: lightgray;
}

h1 { 
    text-align: center;
}

.to-other-page {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
}

.to-other-page:hover {
    background-color: rgb(26, 62, 141);
    cursor: pointer;
}

/* Home Page */
.intro {
    border: 1px solid green;
}

.tester {
    padding-bottom: 100vh;
}

/* Projects Page */

/* About Page */
#resume-button {
    border: none;
    background-color: rgba(255,255,255,0);
    color: blueviolet;
}

#resume-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#pdf-container {
    display: none;
    width: 100%;
    height: 500px;
}

/* Contact Page */



/* Conversion into Vue.js + HTMX */
