/* FONTS */
/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
}

h1 {
    text-align: center;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.logo {
    cursor:pointer;
    margin-right: auto;
    text-align: left;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: lightgray;
}